@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;

        &__logo {
            width: 80px;
            margin: 0 auto 10px;
        }

        &__links {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            &__item {
                display: inline-block;

                a {
                    display: block;
                    text-decoration: none;
                    padding: 8px 16px;

                    &:hover {
                        color: variaveis.$corTextoSecundario;
                    }
                }
            }
        }
    }

    p {
        margin-bottom: 16px;
    }
}

.language-selector {
    display: flex;
    align-items: center;    

    img {
        height: 18px;
        width: 18px;
    }

    select {
        background-color: transparent;
        border: none;
        color: variaveis.$corTextoPrincipal;
        padding: 0 8px;
        margin-right: 12px;
        cursor: pointer;

        &:hover {
            color: variaveis.$corTextoSecundario;
            text-decoration: underline;
        }

        option {
            color: variaveis.$corDeFundo;
            text-align: right;
        }
    }
}