// -------mixins
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTextoPrincipal;
}

@mixin title ($fontSize: 40px) {
    @include text ($fontSize);
    color: $corTextoSecundario;
}